{
  "presets": [
    [
      "env", {
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions", "IE >= 8"]
        }
      }
    ],
    "jest"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs"
          }
        ],
        "jest"
      ]
    }
  }
}
